<div class="card">
  <div class="card-header">
    發送文字訊息
  </div>
  <div class="card-block">

    <form [formGroup]="form" (ngSubmit)="sendMessage()">
      <div class="form-group">
        <label for="message">訊息內容</label>
        <input type="text" name="message" id="message" class="form-control" placeholder="Message" aria-describedby="helpId" formControlName="message">
        <small id="helpId" class="text-muted">必填項目</small>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">送出</button>
    </form>

  </div>
  <div class="card-footer text-muted">
  </div>
</div>
